<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hss01248.mydatastore">
    <uses-sdk tools:overrideLibrary="com.tencent.mmkv"/>
    <application >
        <!--<provider
            android:authorities="${applicationId}.cp"
            android:name=".MyLibRuntimeProvider2"
            android:exported="false"/>-->

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.hss01248.mydatastore.InitForKv"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>